h5py==3.1.0
matplotlib==3.4.2s
opencv_python==4.5.5.64
pandas==1.4.3
Pillow==10.0.1
pydicom==2.3.1
streamlit==1.25.0
streamlit_extras==0.3.2
streamlit_img_label==0.1.1
streamlit_option_menu==0.3.5
